<page loaded="loaded">

<ActionBar>
<Label text="{{nombreNegocio}}" width="100%" class="h3 text-center white" textWrap="true" />

</ActionBar>

    <StackLayout>
        
        
        <Button  text="Hacer registro de ingreso" tap="goCheckin" ></Button>
        <Button  text="Historial de visitas" tap="goHistorial" ></Button>
        <Button  text="Cerrar sesión" tap="goLogout" ></Button>
        
        
        
    </StackLayout>
</page>

